.container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('indianflag.jpg.jpg'); /* Replace 'background.jpg' with the URL or file path of your background image */
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}
